<!DOCTYPE html>
<html lang="en">

<head>
	<title>Zine</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />

	<link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
	<link rel="stylesheet" href="css/roboto-font-include.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/Global.css" />
	<link href="Zine.styles.css" rel="stylesheet">
	<HeadOutlet />
</head>

<body>
<Routes @rendermode="InteractiveServer" />
<script>process = undefined;</script>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="js/globals.js"></script>
</body>
</html>
