@page "/"
@using Zine.App.Helpers
@using Page = Zine.App.Enums.Page
@rendermode InteractiveServer

<h1 class="text-blue-400">Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        PageManager.SetPageTitle(Page.Home);
    }
}
