@page "/"
@using Zine.App.Helpers
@using Zine.Components.Components.Home
@using Page = Zine.App.Enums.Page
@rendermode InteractiveServer

<link rel="stylesheet" href="css/pages/Home.css" />

<div class="flex flex-col gap-6">

    <Row_ConinueReading />
    <Row_LastRead />
    <Row_Recommendations />

</div>



@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        PageManager.SetPageTitle(Page.Home);
    }
}
