@using Zine.Assets.Icons
<MudCard Class="md:w-60 w-44 h-[391px] p-5 rounded-lg">
	<div class="cover-image h-full w-full flex items-center justify-center flex-col gap-3 text-center">
		<MudIcon Color="Color.Primary" Icon="@CustomIcons.BadMood"/>
		<div>No comics in the category so far</div>
	</div>
</MudCard>
