@using Zine.App.Domain.ComicBook
@using Zine.App.Domain.Settings
@inject IComicBookService ComicBookService
@inject ISettingsService SettingsService

<div class="min-h-64">
	<h2 class="row-title">Recommendations</h2>

	<div class="flex gap-6 flex-wrap">
		@foreach (var comicBook in _recommendations)
		{
			<ComicBookCard ComicBook="comicBook"/>
		}
	</div>
</div>

@code {
	IEnumerable<ComicBook> _recommendations = [];

	private void LoadCurrentlyReadComicBook()
	{
		var settings = SettingsService.Get();
		_recommendations = ComicBookService.GetRecommendations(settings.HomaPageRecommendationCount.Value);
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		LoadCurrentlyReadComicBook();
	}

}
