@using Zine.App.Domain.ComicBook
@inject IComicBookService ComicBookService

<div >
	<h2 class="row-title">Currently Reading</h2>

	<div class="flex flex-wrap gap-6 justify-start">
		@foreach (var comicBook in _currentlyReadComicBooks)
		{
			<ComicBookCard ComicBook="comicBook" />
		}
	</div>
</div>

@code {
	const int ComicBooksToDisplay = 20;

	IEnumerable<ComicBook> _currentlyReadComicBooks = [];

	private void LoadCurrentlyReadComicBook()
	{
		_currentlyReadComicBooks = ComicBookService.GetCurrentlyReadComicBooks(ComicBooksToDisplay);
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		LoadCurrentlyReadComicBook();
	}

}
