@using Zine.App.Domain.ComicBook
@using Zine.App.Domain.Settings
@inject IComicBookService ComicBookService
@inject ISettingsService SettingsService

<div class="min-h-64">
	<h2 class="row-title">@_comicBooksToDisplay last read comic books</h2>

	<div class="flex flex-wrap gap-6 justify-start">
		@foreach (var comicBook in _currentlyReadComicBooks)
		{
			<ComicBookCard ComicBook="comicBook" />
		}
	</div>
</div>

@code {
	private int _comicBooksToDisplay;

	IEnumerable<ComicBook> _currentlyReadComicBooks = [];

	private void LoadCurrentlyReadComicBook()
	{
		_currentlyReadComicBooks = ComicBookService.GetCurrentlyReadComicBooks(_comicBooksToDisplay);
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		LoadCurrentlyReadComicBook();

		var settings = SettingsService.Get();
		_comicBooksToDisplay = settings.HomePageRecentlyReadCountCount.Value;
	}

}
